.history-container {
  padding: 8px;
  max-height: 90%;
  max-width: 200px;
  overflow: auto;
  cursor: pointer;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.history-list li {
  list-style-type: none;
  font-size: 40px;
  font-weight: 500;
  color: white;
}
